# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =========================
# Virtual Environment
# =========================

.venv/
venv/
env/
ENV/

# =========================
# Django
# =========================

db.sqlite3
db.sqlite3-journal
*.log
staticfiles/
static/
media/

# =========================
# Environment
# =========================

.env
.env.*

# =========================
# Git
# =========================

.git/
.gitignore

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Cache
# =========================

.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/